@font-face {
    font-display: swap;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/manrope-v15-latin-800.woff2") format("woff2"),
        url("../fonts/manrope-v15-latin-800.ttf") format("truetype");
}

body {
    font-family: "Manrope", sans-serif;
    background-color: #202733;
    font-weight: 800;
}

h1 {
    color: #53ffaa;
    font-size: 11px;
    letter-spacing: 3.46px;
}

.advice-card {
    background-color: #313a48;
    width: calc(100% - 32px);
    height: 332px;
    margin: auto;
    max-width: 540px;
    border-radius: 15px;
}

@media screen and (min-width: 480px) {
    h1 {
        font-size: 13px;
        letter-spacing: 4.09px;
    }
}
