@font-face {
    font-display: swap;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/manrope-v15-latin-800.woff2") format("woff2"),
        url("../fonts/manrope-v15-latin-800.ttf") format("truetype");
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
    background-color: #202733;
    font-weight: 800;
    padding: 0 16px;
}

h1 {
    color: #53ffaa;
    font-size: 11px;
    letter-spacing: 3.46px;
}

p {
    color: #cee3e9;
    font-size: 24px;
    letter-spacing: -0.26px;
}

.advice-card {
    background-color: #313a48;
    max-width: 540px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 15px;
}

@media screen and (min-width: 480px) {
    h1 {
        font-size: 13px;
        letter-spacing: 4.09px;
    }
    p {
        color: #cee3e9;
        font-size: 28px;
        letter-spacing: -0.3px;
    }
    .advice-card {
        margin-top: 220px;
    }
}
