@font-face {
    font-display: swap;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/manrope-v15-latin-800.woff2") format("woff2"),
        url("../fonts/manrope-v15-latin-800.ttf") format("truetype");
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
    background-color: #202733;
    font-weight: 800;
    padding: 0 16px;
}

h1 {
    color: #53ffaa;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 11px;
    letter-spacing: 3.46px;
    line-height: 15px;
}

p {
    color: #cee3e9;
    font-size: 24px;
    letter-spacing: -0.26px;
    margin-bottom: 24px;
    line-height: 33px;
}

picture {
    display: flex;
}

button {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -32px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: none;
    background-color: #53ffaa;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    box-shadow: 0px 0px 40px #53ffaa;
}

.advice-card {
    position: relative;
    background-color: #313a48;
    max-width: 540px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 24px 60px;
    text-align: center;
    border-radius: 15px;
}

.decoration {
    width: 100%;
    height: 16px;
}

@media screen and (min-width: 480px) {
    h1 {
        font-size: 13px;
        letter-spacing: 4.09px;
        line-height: 18px;
    }
    p {
        color: #cee3e9;
        font-size: 28px;
        letter-spacing: -0.3px;
        margin-bottom: 40px;
        line-height: 38px;
    }
    .advice-card {
        margin-top: 220px;
        padding: 48px 48px 72px;
    }
}
